.footer {
  background: #f8f8f8;
  padding: 80px 10%;
  color: #2b2d42;
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.newsletter h2 {
  font-size: 42px;
  font-weight: 700;
}

.newsletter span {
  color: #ff6b35;
}

.newsletter-form {
  display: flex;
  gap: 10px;
}

.newsletter-form input {
  width: 320px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.newsletter-form button {
  background: #ff6b35;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
}

hr {
  margin: 50px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Main Footer */

.footer-content {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 40px;
}

.footer-column h3 {
  margin-bottom: 20px;
  color: #2b2d42;
}

.footer-column p {
  margin-bottom: 12px;
  color: #666;
  line-height: 1.7;
}

.footer-btn {
  margin-top: 10px;
  background: #ff6b35;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

/* Center Section */

.footer-center {
  text-align: center;
  margin-top: 70px;
}

.footer-center h2 {
  color: #ff6b35;
  font-size: 40px;
  margin-bottom: 25px;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  font-weight: 600;
}

.footer-links span {
  cursor: pointer;
}

/* Copyright */

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  color: #666;
}

/* Responsive */

@media (max-width: 768px) {

  .newsletter {
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter-form {
    width: 100%;
    flex-direction: column;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    width: 100%;
  }

}